{% extends "base.html" %}

{% block title %} 
Welcome
{% endblock %}

{% block content%}

    <h1>Welcome to my site</h1>
    <p>Created for training purposes of docker, elasticsearch, jenkins and other DevOps tools</p>
    <p> The site and it's subsites have been visited {{ counter }} times.</p>
    <p>The counter value is being stored in a Json file, and being updated witch each view function call using below code: </p>
  
    <pre>
    <code>
    def get_counter_data():
    with open("JsonData/counter.json", "r") as counterJson:
        data = json.load(counterJson)
    return data
    </code>
    </pre>

    <pre>
    <code>
    def update_counter():
        value = get_counter_data()
        value["counter"] += 1
        with open("JsonData/counter.json", "w") as jsonfile:
                json.dump(value, jsonfile)
    </code>
    </pre>

    <p>The page was served at {{ current_time }}</p>

    <h2>        
        <a href="{{ url_for('card_list')}}">
            Take me to card list
        </a>
    </h2>

    <h2>        
            <a href="{{ url_for('flower_list_view')}}">
                Take me to flower list
            </a>
    </h2>


{% endblock %}